@model TaxiService.Models.RiderDetailsTable
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPageAccount.cshtml";
}

<div class="container">
    <div class="row" style="margin-top:100px">

    </div>

    <div class="row" style="padding:50px 100px">
        <h3>My Account Information</h3>
    </div>

    <div class="row" style="padding:20px 50px">
        <div class="col-sm-4"> Name </div>:
        <div class="col-sm-1"> </div>
        <div class="col-sm-4">@*@(Model.FirstName + Model.LastName)*@ Abdullah Mansoor</div>
    </div>
    <div class="row" style="padding:20px 50px">
        <div class="col-sm-4"> Address </div>:
        <div class="col-sm-1"> </div>
        <div class="col-sm-4">@*@(Model.FirstName + Model.LastName)*@ New Dennawa, Kagama</div>
    </div>
    <div class="row" style="padding:20px 50px">
        <div class="col-sm-4"> Email </div>:
        <div class="col-sm-1"> </div>
        <div class="col-sm-4">@*@(Model.FirstName + Model.LastName)*@ mansoorabdullah001@gmail.com</div>
    </div>
    <div class="row" style="padding:20px 50px">
        <div class="col-sm-4"> Mobile </div>:
        <div class="col-sm-1"> </div>
        <div class="col-sm-4">@*@(Model.FirstName + Model.LastName)*@ 0719994818</div>
    </div>









    <div class="row">

    </div>
</div>