
@{
    ViewBag.Title = "SubmitTrip";
    Layout = "~/Views/Shared/_LayoutPageHome.cshtml";
}

<div class="row" style="padding:200px">
    <div class="col-md">
        <p class="success">Submitted Your Trip Success Fully... We will contact You soon...</p>
    </div>
</div>